@import 'tailwindcss';
@import '@fontsource/quicksand';
@import '@fontsource/onest';
@import '@fontsource/poppins';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: 'Quicksand', ui-sans-serif, system-ui, sans-serif;
  --font-onest: 'Onest', ui-sans-serif, system-ui, sans-serif;
  --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}

/* resources/css/app.css */

:root {
   font-family: var(--font-onest); /* Set default font to Quicksand */

  --primary: #11b2f7; /* Biru */
  --secondary: #fdd636; /* Ungu */
  --accent: #006897; /* Orange */
  --dark: #111154 /* Biru gelap */
  --neutral: #374151; /* Abu-abu */
  --light-gray: #F3F4F6; /* Abu-abu terang */
  --success: #10B981; /* Hijau */
  --danger: #EF4444; /* Merah */
  --orange:  #fdb436 ; /* Orange */
  --warning: #feeca4; /* Kuning */
  --green:  #08cb00 ; /* Hijau */
}

.font-onest {
  font-family: var(--font-onest);
}

.font-poppins {
  font-family: var(--font-poppins);
}

/* Contoh penggunaan variabel */
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-accent {
  background-color: var(--accent);
}

.bg-green {
  background-color: var(--green);
}

.bg-warning {
  background-color: var(--warning);
}

.text-accent {
  color: var(--accent);
}
